# Application
NODE_ENV=development
PORT=3001
API_PREFIX=/api/v1

# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/hackaton_upload?schema=public

# S3 / MinIO Storage
S3_ENDPOINT=http://localhost:9000
S3_REGION=us-east-1
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET=hackaton-diagrams
S3_FORCE_PATH_STYLE=true

# RabbitMQ Messaging
RABBITMQ_URL=amqp://guest:guest@localhost:5672
